*{
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans", cursive;
}

body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/wallpaper.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    width: 15vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    
    border: 2px solid black;
    border-radius: 10%;
    position: relative;
    background-color: white;
    animation: fromTop 1.2s linear;
    
}

.error-div{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;   
    border-radius: 10%;
    width: 15vw;
    height: 25vh;
    border: 2px solid black;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input{
    border-radius: 14%;
    padding: 5px;
    width: 12vw;
}

input:focus{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;   
    font-weight: bold;
    height: 3vh;
}

button{
    padding: 5px 15px;
    border-radius: 15%;
    transition: ease-in-out 0.2s;
}

button:hover{
    transform: scale(1.2);
    background-color: black;
    color: white;
}

h3{
    border-bottom: 2px solid brown;
}

@keyframes fromTop {
    0%{
        opacity: 0.1;
        transform: translateY(-300px);
    }
    100%{
        opacity: 0.8;
        transform: translateY(0px);
    }
}

@media (max-width: 1024px) {
    body {
        background-image: url("../assets/wallpaper.jpg");
    }

    .container{
        width: 60vw;
        height: 40vh;
    }

    input{
        width: 40vw;
    }

    .error-div{
        width: 60vw;
        height: 40vh;
    }

}

h1::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: pink;
    display: block;
    transition: 0.5s;
}

h1:hover::after {
    width: 100%;
}
